﻿
@{
    ViewBag.Title = "ShowResult";
}

@if (ViewBag.Answers != null)
{
    <h2>Thank you for your participation</h2>
    <h3>Username: @ViewBag.Answers.UserName</h3>
    <h3>Your Answers:</h3>
    foreach (var item in ViewBag.Answers.Answers)
    {
        <p style="text-align:center">Question#@item.Key - @item.Value</p>
    }
}
else
{
    <h2>Something went wrong</h2>
}  
@Html.ActionLink("Go Back", "ShowQuestions", "Questionnaire")

