﻿@using Task24_Low.Models
@{
    ViewBag.Title = "ShowQuestions";
}

<h2>Questionnaire</h2>

@helper MultipleAnswerHelper(string[] words, bool isRadioButton, int num)
{
    <ol>
        @foreach (string word in words)
        {
            <li>
                @if (isRadioButton)
                {
                    <input name="mult_@num" type="radio" value="@word" />
                }
                else
                {
                    <input name="mult_@num" type="checkbox" value="@word" />
                }
                <label for="@word">@word</label>
            </li>
        }
    </ol>
}

@using (Html.BeginForm("ShowResult", "Questionnaire", FormMethod.Post, new { @class = "questions" }))
{
    <h2>Enter Your Username: @Html.TextBox("username", String.Empty)</h2>
    foreach (Question item in ViewBag.Questions)
    {
    <div name="question_@item.Id">
        <p>Question #@item.Id</p>
        @Html.DisplayFor(modelItem => item.QuestionText)
        @if (item.GetType() == typeof(MultipleAnswerQuestion))
        {
            @MultipleAnswerHelper((item as MultipleAnswerQuestion).AvailableAnswers, (item as MultipleAnswerQuestion).OneAnswer, item.Id)
        }
        else
        {
            @Html.TextBox($"text_{item.Id}", String.Empty, new { placeholder = "Answer Question" })
        }
    </div>
    }
    <input class="submit_answers" type="submit" value="Submit Answers" />
}

