﻿@model IEnumerable<Task24_Low.Models.Comment>

@{
    ViewBag.Title = "Index";
}


<div class="comment_input_block">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.Label("Username: ");
        @Html.TextBox("username", String.Empty, new { @class = "username"});
        @Html.Label("Comment: ");
        @Html.TextArea("comment_text", new { @class = "comment_text"});
        <input class="comment_submit" type="submit" value="Submit" />
    }
</div>
<div class="comment_output_block">
    @foreach (var item in Model)
    {
        <p>Username: @item.UserName</p>
        <p>Date & Time: @item.DateTimeCommented</p>
        <p>Comment: @item.Text</p>
    }
</div>