﻿@model IEnumerable<Task24_Low.Models.Article>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model) {
    <h1>@item.Header</h1>
    <h2>@item.DateTimePosted</h2>
    <h3>@item.SubHeader</h3>
    <p>@item.Text</p>
}

